<div class="container col-4">
    <h1>{{ title }}</h1>
    @if (selectedLevel) {
        @if (selectedLevel.sublevels) {
            @for (sublevel of selectedLevel.sublevels; track sublevel.name) {
                @if (sublevel.files) {
                    @for (file of selectedLevel.files; track $index) {
                        <app-file [file]="file"></app-file>
                    }
                } @else {
                    <app-level [levels]="sublevel.sublevels" [title]="sublevel.name"></app-level>
                }
            }
        } @else {
            @for (file of selectedLevel.files; track $index) {
                <app-file [file]="file"></app-file>
            }
        } 
    } @else {
        @for (level of levels; track $index) {
            <ul>
                <li>
                    <div class="row">
                        <div class="col-8">
                        {{ level.name }}
                        </div>
                        <div class="col-4">
                        <button (click)="searchLevel(level)">></button>
                        </div>
                    </div>
                </li>
                <hr>
            </ul>
        }
    }
  </div>