<div class="container col-4">
    <h1>{{ title }}</h1>
    @if (selectedLevel) {
        @if (hasFiles(selectedLevel)) {
            @for (file of selectedLevel.files; track $index) {
                <!-- Renderize arquivos do nível selecionado -->
                <app-file [file]="file"></app-file>
            }
        } @else {
            @for (sublevel of selectedLevel.sublevels; track $index) {
                <app-level [level]="sublevel" (onSelect)="searchLevel($event)"></app-level>
            }
        }
    } @else {
        @for (level of levels; track $index) {
            <app-level [level]="level" (onSelect)="searchLevel($event)"></app-level>
        }
    }
</div>
