<div class="container col-4">
    <div *ngIf="selectedLevel">
        <h1>{{ selectedLevel.name }}</h1>

        <div *ngIf="selectedLevel.levels">
            <div *ngFor="let level of selectedLevel.levels">
                <app-level [level]="level" (onSelect)="goToSublevel(level)"></app-level>
            </div>
        </div>
      
        <div *ngIf="selectedLevel.files">
            <div *ngFor="let file of selectedLevel.files">
                <app-file [file]="file"></app-file>
            </div>
        </div>
    </div>
</div>

