<div *ngIf="(isProductListVisible | async)">
  <div class="container col-4">
    <h1>Produtos</h1>
    <div *ngFor="let product of products">
      <div class="row">
        <div class="col-8">
          {{ product.name }}
        </div>
        <div class="col-4 d-flex justify-content-end">
          <button (click)="openProduct(product)">></button>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

<div *ngIf="!(isProductListVisible | async) && selectedProduct">
  <div *ngIf="hasFiles(selectedProduct); else noFiles">
    <div class="container col-4">
      <div *ngFor="let file of selectedProduct?.files">
        <app-file [file]="file" [title]="selectedProduct.name"></app-file>
      </div>
    </div>
  </div>
  <ng-template #noFiles>
    <app-level-list [title]="selectedProduct.name"></app-level-list>
  </ng-template>
</div>